<div class="nested-fields my-3">
  <div class="field">
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <%= f.label :title, class: "control-label d-none" %>
          <%= f.text_field :title, placeholder: "Enter your question eg. How did you hear about us?", class: "form-control" %>
        </div>
      </div>
      <div class="col-2">
        <%= link_to_remove_association f, class: "btn btn-block btn-outline-secondary" do %>
          Remove
        <% end %>
      </div>
    </div>
  </div>
</div>