<div class="nested-fields">
  <div class="field">
    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <%= link_to_remove_association "remove question", f %>
</div>