<h1>Surveys</h1>

<div class="table-repsonsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <%= render @surveys %>
      <% if @surveys.empty? %>
        <tr>
          <td colspan="2">No surveys</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>